# _____Notice_______________________________________________________

## This is an example file.
## Copy and paste this into a .env file in the same path as this one.
## Then modify the values as needed.

# __________________________________________________________________


# _____Variables____________________________________________________

## IMAP Connection
TENANT_ID = "00000000-0000-0000-0000-000000000000"
CLIENT_ID = "00000000-0000-0000-0000-000000000000"
CLIENT_SECRET = "00000000-0000-0000-0000-000000000000"
EMAIL_ACCOUNT = "usuario@example.com"

## MCP Server - Outlook
MCP_HOST_OUTLOOK = "0.0.0.0"
MCP_PORT_OUTLOOK = 8000

# __________________________________________________________________