# _____Notice_______________________________________________________

## This is an example file.
## Copy and paste this into a .env file in the same path as this one.
## Then modify the values as needed.

# __________________________________________________________________


# _____Variables____________________________________________________

# MCP Host
LLM_URL = "http://phi-4-mini-instruct:8005"
MCP_SERVER_OUTLOOK_URL = "http://mcp-server-outlook:8000/mcp"
MCP_SERVER_LINES_URL = "http://mcp-server-lines:8000/mcp"

# vLLM / Ollama
HUGGING_FACE_HUB_TOKEN = "your-hugging-face-token"

## MCP Server
MCP_HOST = "0.0.0.0"
MCP_PORT = 8000

## Docker
RESTART_POLICY = "no"

# __________________________________________________________________