# _____Notice_______________________________________________________

## This is an example file.
## Copy and paste this into a .env file in the same path as this one.
## Then modify the values as needed.

# __________________________________________________________________


# _____Variables____________________________________________________

## MCP Server
MCP_HOST_LINES = "0.0.0.0"
MCP_PORT_LINES = 8000

# __________________________________________________________________